
    .ios, .md {
        page-home {
            ion-list ion-item {
                color: #0098DB;
                background-color: #ecf0f1;
                border-radius: 90px;
                margin-bottom: 10px;
            }
        }
    }
