.ios, .md {
    page-field {
        ion-list ion-item {
            color: #0098DB;
            background-color: #ecf0f1;
            border-radius: 10px;
            margin-bottom: 10px;
        }
    }
}
