page-chitietlinhvuc {
.button-clear-md{
    float: left;
}
ion-title{
    float: left;
    text-align: center;
}
.content{
    background-color: #1d71ee;
}
ion-list button.item.item-block.item-md{
    border-radius: 10px;
    width: 95%;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ecf0f1;
}
}
