.ios, .md {
    page-home {
        .bg {
            background-image: url('../assets/imgs/dp.jpg');
            height: 120px;
            background-size: 100px 100px;
            filter: blur(5px);
            background-position: center; 
        }
        .main-cnt {
            width: 100%;
            padding: 20px;
        }
        .dp {
            border-radius: 100%;
            height: 120px;
            width: 120px;
            z-index: 10;
            margin-top: -60px;
            position: relative;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%,-50%);
            box-shadow: -6px 15px 81px 3px rgba(0, 0, 0, 0.75);
        }
        ion-list ion-item {
            color: #0098DB;
            background-color: #ecf0f1;
            border-radius: 90px;
            margin-bottom: 10px;
        }
    }
}
ion-searchbar {
    position: relative;
    width: 90%;
    margin: 0 auto;
    z-index: 11;
    top: 100px;
    height: 50px;
    border-radius: 10px; 

}
.tag{
    margin-top: 25px;
}